# SPDX-FileCopyrightText: 2022-2024 Weston Schmidt <weston_schmidt@alumni.purdue.edu>
# SPDX-License-Identifier: Apache-2.0
---
name: 'Dependabot auto approvals'

on:
  pull_request_target:

permissions:
  pull-requests: write
  contents: write

jobs:
  package:
    uses: goschtalt/.github/.github/workflows/approve-dependabot.yml@e74ba44af5c5b53f248c20ffb173c739c669d521 # v1.1.5
    secrets: inherit
